* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.page {
  background-color: #fee2de;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.processing-container {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.processing-item {
  position: absolute;
  visibility: hidden;
}
.processing-item img {
  width: 50%;
  display: block;
  margin: 0 auto;
}
.processing-item:nth-child(1) {
  animation-name: visible;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
}

.processing-item:nth-child(2) {
  animation-name: visible;
  animation-duration: 1000ms;
  animation-iteration-count: 3;
  animation-delay: 1000ms;
}

.processing-item:nth-child(3) {
  animation-name: visibleStop;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-delay: 4000ms;
  animation-fill-mode: forwards;
}

@keyframes visible {
  0% {
    transform: scale(0.8) translateX(300%);
    visibility: visible;
  }
  50% {
    transform: scale(1.2) translateX(0);
  }
  100% {
    transform: scale(0.8);
    visibility: hidden;
  }
}

@keyframes visibleStop {
  0% {
    visibility: visible;
    transform: translateY(-300%);
  }
  20% {
    transform: translateY(15%);
  }
  50% {
    transform: translateY(-15%);
  }
  80% {
    transform: translateY(5%);
  }
  100% {
    animation-fill-mode: backwards;
  }
}
.processing-label {
  position: absolute;
  opacity: 0;
  bottom: -4rem;
}

.processing-label:nth-of-type(1) {
  animation-name: lighting;
  animation-duration: 1000ms;
  animation-iteration-count: 4;
}

.processing-label:nth-of-type(2) {
  animation-name: lighting;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-delay: 3500ms;
  animation-fill-mode: forwards;
}

@keyframes lighting {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
